{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}

{{ define "main" }}
{{ if not .IsHome }}
<nav class="p-crumb">
  <ol>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ .Site.BaseURL }}" itemprop="url"><span itemprop="title"><i class="fa fa-home" aria-hidden="true"></i></span></a></li>
    {{ if .Data.Plural }}
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ .Site.BaseURL }}{{ .Data.Plural | urlize }}" itemprop="url"><span itemprop="title">{{ .Data.Plural | lower }}</span></a></li>
    {{ end }}
    <li><span>{{ .Title | lower }}</span></li>
  </ol>
</nav>

<header class="p-page-title">
  <h1 class="title">{{ .Title }}</h1>
</header>
{{ end }}

<ul class="p-articles">
  {{ range (.Paginate .Data.Pages).Pages }}
  <li>{{ .Render "li" }}</li>
  {{ end }}
</ul>
{{ partial "pagination.html" . }}

{{ end }}
